body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    padding-top: 150px;
}
p {
    font-weight: 700;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.box {
    position: relative;
    border: 3px solid black;
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: darkgray;
    color: white;
    padding: 5px;
    border: 3px solid black;
}
#color1 {
    background-color: blueviolet;

}
#color2
{
    color: black;
    background-color: aqua;
}
#color3 {
    background-color: brown;
}
@media (max-width: 991px) {
    .box {
        width: 45%;
    }
    .box:last-child {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .box {
        width: 100%;
    }
}